.CheckboxRoot {
  position: relative;
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    position: absolute;
    content: '';
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--color-dark-100);
    z-index: -5555;
    display: none;
  }

  //&[data-state='checked'] {
  //  background-color: var(--color-dark-100);
  //}

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:hover::before {
    display: block;
    background-color: var(--color-dark-100);
  }
}
.checkboxIndicator {
  background-color: white;
}

//.CheckboxRoot
//  //box-shadow: 0 0 20px 5px;
//  //background-color: var(--color-dark-500);
//}
//.CheckboxRoot:focus {
//  box-shadow: 0 0 0 2px black;
//}
//
//.CheckboxIndicator {
//  color: var(--violet-11);
//}

.Label {
  color: white;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}
